.home-page {
  display: flex;
  height: 100vh; 
  background-color: #000; 
  display: flex; 
  }

  .selector {
    overflow: hidden;
  }
  
  .selector::-webkit-scrollbar {
    display: none; 
  }

  .content {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    flex: 1; 
  }

.responses {
  margin-bottom: 20px; 
  width: 100%; 
  max-height: 200px; 
  overflow-y: auto; 
}

.response-item {
  background-color: #f8f9fa; 
  color: #4a90e2; 
  padding: 10px; 
  border-radius: 4px;
  margin-bottom: 10px; 
  width: 80%; 
}
