.input-container{
  position: relative;
  left: 400px;
  top: 200px;
}

.avatar-container{
  position: relative;
  left: 30px;
}

.avatar-image {
  width: 500px; 
  height: 500px; 
  margin-bottom: 15px; 
}

.avatar-response {
  margin: 0; 
  line-height: 1.5; 
  color: #ffffff; 
  font-size: 1.5rem; 
}

.ai-message-box {
  margin-top: 20px; 
  padding: 15px; 
  background-color: #f0f0f0;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 1px 3px black; 
  text-align: left; 
  font-size: 1.5rem;
  color: #ffffff; 
  height: 400px; 
  max-height: 100px; 
  overflow-y: auto; 
}


